---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}

  <br>
  <br>

  {% if paginator.total_pages > 1 %}
  <div class="posts" style="width:100%;text-align: center">
    {% if paginator.previous_page %}
      <a style="margin-left:3px; margin-right:3px;" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span style="margin-left:3px; margin-right:3px;">&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="webjeda" style="margin-left:3px; margin-right:3px;">{{ page }}</span>
      {% elsif page == 1 %}
        <a style="margin-left:3px; margin-right:3px;" href="/">{{ page }}</a>
      {% else %}
        <a style="margin-left:3px; margin-right:3px;" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a style="margin-left:3px; margin-right:3px;" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span style="margin-left:3px; margin-right:3px;">Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}

</div>
